*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(250, 212, 218);
}

#Container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    border: 1px solid rgb(240, 159, 159);
}
