*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(250, 212, 218);
}

#Container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    border: 1px solid rgb(240, 159, 159);
    background: white;
}

#header{
    height: 145px;
    background: #f0f0f0;
}
 
#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
}

#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #f37c7c;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #d49beb;
}

/*Menu*/
#Menu{
    clear: both;
    background: #e7bebe;
    color: white;
    height: 55px;
    border-bottom: 4px solid #d49beb;
}

#Menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
}

#Menu ul li{
line-height: 55px;
float: left;
border-left: 1px solid #f79ea5;
}

#Menu a{
display: block;
color: black;
text-decoration: none;
padding-left: 12px;
padding-right: 12px;
transition: all 300ms;
}

#Menu a:first-child{
    border-left: 1px solid #8fdaf3;
}

#Menu a:hover{
    background: #d2a9dd;
}

#Content{
    margin: 0px auto;
    overflow: hidden;
    background: white;
    border: 1px solid #e4acac
}

#lateral{
    width: 20%;
    min-height: 500px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid #e4acac;
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #f79ea5;
}